/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  background-color: #181a1b;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 2px 2px #000;
}

/* Form styles */
.form-wrapper {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 20px;
  margin-bottom: 10px;
}

textarea {
  background-color: #2b2e31;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  resize: none;
}

button {
  background-color: #4d4d4d;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #666666;
}

/* Result styles */
.result-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.hidden {
  display: none;
}

.score-panel {
  background-color: #4d4d4d;
  border-radius: 5px;
  flex-basis: 48%;
  padding: 20px;
}

.score-panel h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.feedback-panel {
  background-color: #4d4d4d;
  border-radius: 5px;
  flex-basis: 48%;
  padding: 20px;
}

.feedback-panel h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#score {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  white-space: pre-wrap;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#feedback {
  font-size: 20px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .result-wrapper {
    flex-direction: column;
  }

  .score-panel,
  .feedback-panel {
    margin-bottom: 20px;
    width: 100%;
  }
}

ol {
  padding-left: 2em;
}